{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - Тренажёр базы данных
    {% else %}
        Тренажёр базы данных
    {% endif %}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Тренажёр по базе данных</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar">
                    <li><a href="{{url_for('main.index')}}">Главная</a></li>
                    {% if not current_user.is_anonymous %}
                        <li><a href="{{url_for('main.user_show', username = current_user.username)}}">Профиль</a></li>
                        <li><a href="{{url_for('task.all_task')}}">Задания</a></li>
                        <li><a href="{{url_for('table.all_table', username = current_user.username)}}">Таблицы</a></li>
                        
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{url_for('auth.login')}}">Вход</a></li>
                    {% else %}
                        <li><a href="{{url_for('auth.logout')}}">Выход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div>

        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }} 
    <script language=javaScript>
        var message="";
        function clickIE() {if (document.all) {(message);return false;}}
        function clickNS(e) {if
        (document.layers||(document.getElementById&&!document.all)) {
        if (e.which==2) {
        (message);
        return false;}}}
        if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown=clickNS;
        }else{
        document.onmouseup=clickNS;
        document.oncontextmenu=clickIE;
        }
        document.oncontextmenu=new Function("return false")
        </script>
    <script language=javaScript>document.onselectstart=new Function("return false");document.ondragstart=new Function("return false");</script>
{% endblock %}
